.card {
  display: flex;
  flex-direction: column;
  background-color: var(--background-card);
  border-radius: var(--border-radius);
  padding: 0.5rem 1rem;
  width: 100%;
  height: 100%;
}

.card__header {
  display: flex;
  justify-content: space-between;
}

.expense {
  background-color: #b33636;
}

.payment {
  background-color: #489948;
}
