.auth__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}

.auth_form {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

input {
  width: 100%;
}
